<form [formGroup]="attendance">
    <mat-form-field class="form-field" appearance="outline">
        <mat-label> ID
        </mat-label>
        <input matInput type="number" (change)="send()" [(ngModel)]="editData.studentId" formControlName="studentId"
            (keypress)="numbers($event)" maxlength="40">
        <mat-error *ngIf="attendance.controls.studentId.touched && attendance.controls.studentId.invalid">
            <span *ngIf="attendance.controls.studentId.errors!.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Student Name
        </mat-label>
        <input matInput formControlName="studentName" (change)="send()" [(ngModel)]="editData.studentName"
            (keypress)="char($event)" maxlength="40" type="text">
        <mat-error *ngIf="attendance.controls.studentName.touched && attendance.controls.studentName.invalid">
            <span *ngIf="attendance.controls.studentName.errors!.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Department Name
        </mat-label>
        <input matInput formControlName="department" (change)="send()" [(ngModel)]="editData.department"
            (keypress)="char($event)" maxlength="40" type="text">
        <mat-error *ngIf="attendance.controls.department.touched && attendance.controls.department.invalid">
            <span *ngIf="attendance.controls.department.errors!.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Login Time
        </mat-label>
        <input matInput formControlName="loginTime" (change)="send()" type="datetime-local" min="{{input.today}}"
            max="{{input.today}}" [(ngModel)]="editData.loginTime">
        <mat-error *ngIf="attendance.controls.loginTime.touched && attendance.controls.loginTime.invalid">
            <span *ngIf="attendance.controls.loginTime.errors!.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Logout Time
        </mat-label>
        <input matInput formControlName="logoutTime" min="{{input.today}}"
        max="{{input.today}}" (change)="send()" maxlength="40" [(ngModel)]="editData.logoutTime"
            type="datetime-local">
        <mat-error *ngIf="attendance.controls.logoutTime.touched && attendance.controls.logoutTime.invalid">
            <span *ngIf="attendance.controls.logoutTime.errors!.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>
    <br>
    <!-- <button style="margin-bottom: 15px;" type="button" mat-raised-button>
        <mat-icon>add</mat-icon> Add
    </button><br> -->
    <!-- <button mat-raised-button class=" mb-3" color="primary" type="submit" [disabled]="!attendance.valid"
        [mat-dialog-close]="attendance.value">Submit</button> -->
</form>