<div class="container">
    <h2></h2>
    <form [formGroup]="attendance">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> ID
            </mat-label>
            <input matInput type="number" [(ngModel)]="editData.studentId" formControlName="studentId"
                (keypress)="numbers($event)" maxlength="40">
            <mat-error *ngIf="attendance.controls.studentId.touched && attendance.controls.studentId.invalid">
                <span *ngIf="attendance.controls.studentId.errors!.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field><br>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Student Name
            </mat-label>
            <input matInput formControlName="studentName" [(ngModel)]="editData.studentName" (keypress)="char($event)"
                maxlength="40" type="text">
            <mat-error *ngIf="attendance.controls.studentName.touched && attendance.controls.studentName.invalid">
                <span *ngIf="attendance.controls.studentName.errors!.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Department Name
            </mat-label>
            <input matInput formControlName="departmentName" [(ngModel)]="editData.departmentName"
                (keypress)="char($event)" maxlength="40" type="text">
            <mat-error *ngIf="attendance.controls.departmentName.touched && attendance.controls.departmentName.invalid">
                <span *ngIf="attendance.controls.departmentName.errors!.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Login Time
            </mat-label>
            <input matInput formControlName="loginTime" maxlength="40" [(ngModel)]="editData.loginTime"
                type="datetime-local">
            <mat-error *ngIf="attendance.controls.loginTime.touched && attendance.controls.loginTime.invalid">
                <span *ngIf="attendance.controls.loginTime.errors!.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Logout Time
            </mat-label>
            <input matInput formControlName="logoutTime" maxlength="40" [(ngModel)]="editData.logoutTime"
                type="datetime-local">
            <mat-error *ngIf="attendance.controls.logoutTime.touched && attendance.controls.logoutTime.invalid">
                <span *ngIf="attendance.controls.logoutTime.errors!.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button class="mb-3" color="primary" type="submit" [disabled]="!attendance.valid"
            [mat-dialog-close]="attendance.value">Submit</button>
    </form>
</div>