<mat-dialog-content>
    <div class="container1">

        <div *ngFor="let count of arrCounts; let i=index">
            <app-attendance-form *ngIf="data!=null" [data]="editData" (child)="getChildData($event)">
            </app-attendance-form>

            <app-attendance-form *ngIf="data==null" (child)="getChildData($event)"></app-attendance-form>
            <button mat-icon-button type="button" class="delete-button" *ngIf="arrCounts.length> 1"
                (click)="deleteRow(i)">
                <mat-icon>delete</mat-icon>
            </button>

        </div>
        <button style="margin-bottom: 15px;" *ngIf="data==null" type="button" (click)="addForm()" mat-raised-button>
            <mat-icon>add</mat-icon> Add
        </button><br>
        <button mat-raised-button class=" mb-3" color="primary" [mat-dialog-close]="addedData"
            type="submit">Submit</button>
    </div>
</mat-dialog-content>