<div class="navbar nav">
    <ul class="nav nav-pills nav-item">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/department" routerLinkActive="active">Department</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/registration" routerLinkActive="active">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Library</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/attendance" routerLinkActive="active">Attendance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ">About</a>
        </li>
    </ul>
    <div>
        <form>
            <img src="https://img.icons8.com/ios-glyphs/50/ffffff/test-account.png" />
            <button class="btn  btn-outline-light ml-3 btn-sm" type="submit" (click)="logout()"
                type="button">Logout</button>
        </form>
    </div>
</div>