.navbar{
    background-color: black;
    position: sticky;
    color: white;
    
    a{
        color: white;
        font-size: large;
        font-weight: 400;
        margin-left: 10px;
    }
}
.menuIcon{
    font-size: 40px;
    color:white
}
