<form [formGroup]="attendance">
    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Studetn ID
        </mat-label>
        <input matInput type="number" (change)="send()" formControlName="studentId" [(ngModel)]="editData.studentId"
            (keypress)="numbers($event)" maxlength="40">
        <mat-error *ngIf="attendance.controls.studentId.touched && attendance.controls.studentId.invalid">
            <span *ngIf="attendance.controls.studentId.errors!.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Student Name
        </mat-label>
        <input matInput formControlName="studentName" (change)="send()" [(ngModel)]="editData.studentName"
            maxlength="40" (keypress)="char($event)" type="text">
        <mat-error *ngIf="attendance.controls.studentName.touched && attendance.controls.studentName.invalid">
            <span *ngIf="attendance.controls.studentName.errors!.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Department Name
        </mat-label>
        <input matInput formControlName="departmentName" (change)="send()" [(ngModel)]="editData.departmentName"
            maxlength="40" (keypress)="char($event)" type="text">
        <mat-error *ngIf="attendance.controls.departmentName.touched && attendance.controls.departmentName.invalid">
            <span *ngIf="attendance.controls.departmentName.errors!.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Student Mobile No
        </mat-label>
        <input matInput formControlName="studentMobileNo" #number (change)="send()" [(ngModel)]="editData.studentMobileNo"
            maxlength="10" (keypress)="numbers($event)" type="tel">
        <mat-error *ngIf="attendance.controls.studentMobileNo.touched && attendance.controls.studentMobileNo.invalid">
            <span *ngIf="attendance.controls.studentMobileNo.errors!.required">This field is mandatory.</span>
            <span *ngIf="attendance.controls.mobile.errors!.minLength">Enter Mobile number
                properly.</span>
        </mat-error>
        <mat-hint align="end">{{number.value?.length || 0}}/10</mat-hint>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Student Addmission Date
        </mat-label>
        <input matInput formControlName="studentAddmissionDate" min="2008-5-12" max="{{input.date}}" (change)="send()"
            [(ngModel)]="editData.studentAddmissionDate" maxlength="40" type="date">
        <mat-error
            *ngIf="attendance.controls.studentAddmissionDate.touched && attendance.controls.studentAddmissionDate.invalid">
            <span *ngIf="attendance.controls.studentAddmissionDate.errors!.required">This field is mandatory.</span>
        </mat-error>
    </mat-form-field>

</form>