<div class="container">
    <h2>Add Department</h2>
    <form [formGroup]="departmentForm">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> ID
            </mat-label>
            <input matInput formControlName="departmentId" (keypress)="numbers($event)" maxlength="40" type="number">
            <mat-error
                *ngIf="departmentForm.controls.departmentId.touched && departmentForm.controls.departmentId.invalid">
                <span *ngIf="departmentForm.controls.departmentId.errors!.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field><br>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> Name
            </mat-label>
            <input matInput formControlName="departmentName" (keypress)="char($event)" maxlength="40" type="text">
            <mat-error
                *ngIf="departmentForm.controls.departmentName.touched && departmentForm.controls.departmentName.invalid">
                <span *ngIf="departmentForm.controls.departmentName.errors!.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> Department Head
            </mat-label>
            <input matInput formControlName="departmentHead" (keypress)="char($event)" maxlength="40" type="text">
            <mat-error
                *ngIf="departmentForm.controls.departmentHead.touched && departmentForm.controls.departmentHead.invalid">
                <span *ngIf="departmentForm.controls.departmentHead.errors!.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <div class="teacher">
            <label>Add teachers :</label>
            <div class="form-array">
                <div formArrayName="teachersAll" *ngFor="let teachersAll of addteacher; let i=index">
                    <mat-form-field class="form-field" [ngClass]="{ 'form-field-teacher':addteacher.length > 1}"
                        appearance="outline">
                        <mat-label>Name of teachers</mat-label>
                        <input matInput (keypress)="char($event)" [formControlName]="i">

                    </mat-form-field>
                    <button mat-icon-button type="button" class="delete-button" (click)="deleteRow(i)"
                        *ngIf="addteacher.length> 1">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <button style="margin-bottom: 15px;" type="button" mat-raised-button (click)="add()">
                <mat-icon>add</mat-icon> Add
            </button>
        </div>
        <button mat-raised-button class="mb-3" color="primary" type="submit"
            [mat-dialog-close]="departmentForm.value">Submit</button>
    </form>
</div>